/* <<<<< BASIC SETTINGS >>>>> */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    border-bottom: 1px solid lightgray;
    background-color: white;
    height: 45px;
    padding: 4px 15px 2px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

/* <<<<< 1st Div IN HEADER >>>>> */
.left-buttons {
    float: left;
}

.left-buttons button {
    margin-top: 10px;
    background-color: transparent;
    border: 0;
    width: 35px;
    height: 20px;
}

.left-buttons button:hover {
    background-color: #f7f7f7;
    border-radius: 3px;
}

.left-buttons > .menu-btn {
    margin-left: 15px;
}

.left-buttons > .search-btn {
    margin: auto 20px;
}

.left-buttons svg{
    width: 16px;
    height: 16px;
    vertical-align: sub;
}

.left-link {
    text-decoration: none;
    font-size: 14.25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    line-height: 19px;
    color: black;
}

.left-link:hover {
    border-bottom: 1px solid black;
}

/* <<<<< NYT LOGO >>>>>>> */
.nyt-svg {
    height: 27px;
}

div.nyt-logo {
    width: calc(100% - 30px);
    text-align: center;
    margin-top: 5px;
    position: absolute;
}

/* <<<<< RIGHT BUTTONS >>>>>>> */
div.right-buttons {
    float: right;
}

.right-buttons button,
aside.signup button {
    background: #567B95;
    padding: 12px 10px 8px;
    border: 2px solid #567B95;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    font-size: 11px;
}

.right-buttons button:hover {
    cursor: pointer;
}

/* <<<<< MAIN SECTION >>>>> */

/* Image Title */
main {
    position: relative;
    top: 45px;
}

.article-title {
    text-align: center;
}

.article-title > h2{
    font-family: 'Lato', sans-serif;
    margin: 10px auto 30px 20%;
    width: 384px;
    font-size: 39px;
}

.image > img {
    width: 945px;
    height: 532px;
}

.img-figcaption {
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    color: #666;
    font-size: 15.2px;
    line-height: 1.25rem;
    font-weight: 600;
    height: 52px;
    width: 720px;
    margin: 0 170px;
    text-align: justify;
}

.img-figcaption span {
    color: #888;
    font-size: 0.9rem;
    line-height: 1.25rem;
    font-weight: lighter;
}

/* Logos */

.social-media-logos {
    width: 600px;
    text-align: left;
    margin: 50px auto 20px;
}

.logos {
    float: right;
}

.article-date {
    float: left;
    font-size: 14px;
    margin-top: 5px;
}

.author {
    font-weight: bold;
    float: left;
    margin-bottom: 15px;
}

.author a {
    text-decoration-color: lightgray;
    color: black;
}

.author:hover a{
    text-decoration: none;
}

.clear {
    clear: both;
}

.logos li{
    display: inline;
}

.logos a {
    text-decoration: none;
}

.circle-logo {
    width: 27px;
    height: 27px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 50%;
    background-color: lightgray;
}

.margin-logo {
    margin-right: 16px;
}

.tag-logo {
    width: 16px;
    height: 25px;
}

.comments {
    width: 27px;
    height: 24px;
}

/* First ASIDE */

aside.signup {
    float: right;
    width: 180px;
    margin: auto 4em;
}

aside.signup p{
    font-size: 14px;
    color: gray;
    margin: 8px 0;
}

aside.signup button {
    width: 100%;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-size: 13px;
}

/* Paragraphs */

.content-section {
    width: 600px;
    margin: 15px auto;
}

.paragraph {
    font-size: 20px;
}

.content-separator {
    display: inline-block;
}